@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font: 400 16px/1.42 "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001821;
  margin: 0px;
}

.wrapper > * {
  width: 1140px;
  color: white;
  margin: 0px auto;
}

.main-page-wrapper {
  background: url("../img/background1.jpg") center top no-repeat, url("../img/background2.jpg") center bottom no-repeat;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.header {
  position: relative;
  height: 120px;
  margin-bottom: 75px;
}

.header .logo {
  display: inline-block;
  position: absolute;
  top: 29px;
  left: 0px;
}

.header .menu {
  display: inline-block;
  position: absolute;
  top: 41px;
  left: 164px;
}

.menu__list {
  margin: 0px;
  padding: 0px;
}

.menu__item {
  margin-right: 50px;
  font-size: 14px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.contacts {
  font-style: normal;
}

header .contacts {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 27px;
}

.contacts__workhours {
  font-size: 13px;
  text-align: right;
  margin-top: -6px;
}

.contacts__workhours:hover {
  text-decoration: underline;
}

.main-header {
  margin-bottom: 245px;
}

.main-header__title {
  width: 511px;
  font-size: 72px;
  margin-bottom: 20px;
}

.main-header__subtitle {
  margin-bottom: 30px;
  font-size: 18px;
}

.main-header__button,
.about-us__button,
.hot-tours__button {
  background: #f5170e;
  border-radius: 35px;
  border-width: 0px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
}

.main-header__button:hover,
.about-us__button:hover,
.hot-tours__button:hover {
  background: #da0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.hot-tours {
  margin-bottom: 119px;
}
.hot-tours__title {
  margin-bottom: 50px;
}

.hot-tours__title-text {
  display: inline-block;
  font-size: 36px;
  margin-right: 10px;
}

.hot-tours__title-pic {
  width: 21px;
  height: 28px;
  width: 21px;
}

.hot-tours__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.hot-tours__item {
  display: inline-block;
  margin-right: 22px;
}

.hot-tours__item:last-child {
  margin-right: 0px;
}

.hot-tours__card {
  position: relative;
  width: 362px;
  min-height: 450px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.hot-tours__pic {
  width: 100%;
  height: 144px;
  margin-bottom: 28px;
}

.hot-tours__content {
  position: relative;
  margin: 0px 21px 25px;
  height: 100%;
  min-height: 246px;
}

.hot-tours__subtitle {
  font-size: 24px;
  color: black;
  margin-bottom: 22px;
}

.hot-tours__options-pic {
  height: 26px;
}

.hot-tours__options-descr {
  display: inline-block;
}

.hot-tours__descr {
  font-size: 14px;
  color: #666;
}

.hot-tours__options-list {
  list-style-type: none;
  margin: 0px 7px;
  padding: 0px;
}

.hot-tours__options-item {
  display: inline-block;
  color: #666;
  margin-right: 25px;
}
.hot-tours__options-item:last-child {
  margin-right: 0px;
}

.hot-tours__options-descr {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.hot-tours__descr {
  margin: 18px 0px 10px;
}

.hot-tours__button {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 18px 30px;
}

.hot-tours__button--color--white {
  background-color: white;
  border: 1px solid #f5170e;
  color: #f5170e;
}

.hot-tours__button--color--white:hover {
  background: #f5170e;
  border-width: 0px;
  color: white;
}

.news {
  margin-bottom: 146px;
}

.news__title {
  font-size: 36px;
  margin-bottom: 50px;
}

.news__list {
  list-style-type: none;
  margin: 0px 0px 47px;
  padding: 0px;
}

.news__item {
  display: inline-block;
  margin-right: 20px;
}

.news__item:last-child {
  margin-right: 0px;
}

.news__card {
  position: relative;
  width: 557px;
  min-height: 394px;
  border-radius: 5px;
  overflow: hidden;
}

.news__pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  min-height: 140px;
  padding: 0px 30px;
}

.news__date {
  display: block;
  font-size: 14px;
  margin-bottom: 14px;
}

.news__subtitle {
  font-size: 24px;
  margin-bottom: 4px;
}

.news__descr {
  margin: 0px;
  margin-bottom: 20px;
}

.paginator {
  text-align: center;
}
.paginator__display {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.paginator__list {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: -2px;
}

.paginator__item--active,
.paginator__item:hover {
  background-color: white;
  color: #f5170e;
  font-weight: bold;
}

.paginator__link {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.about-us {
  position: relative;
  width: 100%;
  min-height: 552px;
  margin-bottom: 55px;
}

.about-us__pic1 {
  display: inline-block;
  width: 490px;
  height: 505px;
  border-radius: 5px;
  vertical-align: top;
}

.about-us__card {
  display: inline-block;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 785px;
  height: 455px;
  overflow: hidden;
  border-radius: 5px;
}

.about-us__pic2 {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__content {
  position: absolute;
  top: 0px;
  margin: 70px 202px 50px 81px;
}

.about-us__title {
  font-size: 36px;
  color: black;
  margin-bottom: 37px;
}

.about-us__descr {
  color: black;
  margin-top: 0px;
  margin-bottom: 45px;
  line-height: 1.65em;
}

.footer {
  position: relative;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 140px;
}

.footer .logo {
  position: absolute;
  left: 0px;
  top: 45px;
}

footer .menu {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 164px;
}

.footer .menu__list {
  font-size: 14px;
}

.menu__item-link:hover {
  color: #da0100;
}

.menu__list {
  list-style-type: none;
}

.menu__item {
  display: inline-block;
}

.socials {
  display: inline-block;
  position: absolute;
  right: 265px;
  top: 50px;
}

.socials__pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.4;
}

.socials__pic:hover {
  opacity: 1;
}

.socials__list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 0px;
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.footer .contacts {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 46px;
}

.contacts__title {
  color: #9a9a9a;
  font-size: 11px;
  font-style: normal;
  text-align: right;
}

.contacts__tel {
  font-size: 26px;
}

.contacts__workhours {
  font-size: 13px;
}
