/* .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 140px;
} */

/* .footer .logo {
  margin-top: 45px;
} */

.footer {
  background-color: #001821;
  width: 100%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  height: 140px;
  width: 1140px;
  margin: 0px auto;
}

.footer--height--small {
  height: 134px;
}

.footer .menu__list {
  font-size: 14px;
}
