.main-header {
  display: flex;
  align-items: flex-end;
  min-height: 638px;
}

.main-header--margin--small {
  margin-bottom: 0px;
}

.main-header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 245px;
  width: 50%;
  min-height: 335px;
}

.main-header__title {
  font-size: 72px;
}

.main-header__subtitle {
  font-size: 18px;
}

.main-header__button {
  background: #f5170e;
  border-radius: 35px;
  border-width: 0px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  /* margin-right: auto; */
}

.main-header__button:hover {
  background: #da0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  transition: background 0.5s, box-shadow 0.5s;
}
