.socials {
  margin-right: 75px;
  right: 265px;
  top: 50px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  min-width: 172px;
}

.socials__item {
  padding: 0px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.4;
  transition: opacity 0.5s;
  background-image: url("../../img/css_sprites.png");
  overflow: hidden;
}

.socials__pic:hover {
  opacity: 1;
  transition: 0.5s;
}

.socials__pic--type--tlg {
  background-position: -66px -10px;
}

.socials__pic--type--vk {
  background-position: -122px -10px;
}

.socials__pic--type--fb {
  background-position: -178px -10px;
}

.socials__pic--type--inst {
  background-position: -10px -10px;
}
