* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 400 16px/1.42 "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001821;
  margin: 0px;
}

body .wrapper {
  min-width: 1140px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > * {
  width: 1140px;
  color: white;
  margin: 0px auto;
}

.main-page-wrapper {
  background: url("../../img/background1.jpg") center top no-repeat, url("../../img/background2.jpg") center bottom no-repeat;
}

.services-wrapper {
  background: url("../../img2/headline.jpg") center top no-repeat;
}

.wrapper__content {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* services page */

.services-wrapper {
  background: white url("../../img2/headline.jpg") center top no-repeat;
}

.wrapper__content {
  flex: 1;
}
