.hot-tours {
  margin-bottom: 125px;
}
.hot-tours__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}

.hot-tours__title-text {
  font-size: 36px;
  margin-right: 10px;
}

.hot-tours__title-pic {
  width: 21px;
  height: 28px;
  width: 21px;
}

.hot-tours__list {
  display: flex;
  justify-content: space-between;
  min-height: 450px;
}

.hot-tours__item {
  width: calc(100% / 3 - 18px);
  display: flex;
  flex-direction: column;
}

.hot-tours__card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  min-height: 450px;
  align-items: center;
}
/* 
.hot-tours__card {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
} */

.hot-tours__pic {
  width: 100%;
  height: 144px;
}

.hot-tours__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 20px 20px;
  min-height: 272px;
  padding-bottom: 26px;
}

.hot-tours__content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 165px;
  margin-bottom: 20px;
}

.hot-tours__subtitle {
  font-size: 24px;
  color: black;
}

.hot-tours__options-list {
  display: flex;
  justify-content: flex-start;
  margin: 0px 7px;
  min-height: 65px;
  align-items: center;
}

.hot-tours__options-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #666;
  margin-right: 25px;
}
.hot-tours__options-item:last-child {
  margin-right: 0px;
}

.hot-tours__options-pic {
  height: 26px;
}

.hot-tours__options-descr {
  margin-left: 12px;
}

.hot-tours__descr {
  margin: 0px;
  font-size: 14px;
  color: #666;
}

.hot-tours__button {
  background: #f5170e;
  border-radius: 35px;
  border-width: 0px;
  padding: 18px 30px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  margin-right: auto;
  margin-top: auto;
}

.hot-tours__button:hover {
  background: #da0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.hot-tours__button--color--white {
  background-color: white;
  border: 1px solid #f5170e;
  color: #f5170e;
}

.hot-tours__button--color--white:hover {
  background: #f5170e;
  border-width: 0px;
  color: white;
}
