.reviews {
  color: #1a1b1e;
}

.reviews__list {
  /* display: flex; */
  flex-direction: column;
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 50px;
}

.reviews__item {
  display: inline-flex;
  flex-direction: column;
  background-color: #f4f5f5;
  padding: 50px 30px 30px;
  margin-bottom: 22px;
}

.reviews__userdata {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.reviews__photo {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  margin-right: 20px;
}

.reviews__userdata-link {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  /* line-height: 1.3em; */
  font-weight: bold;
  margin-bottom: 5px;
}

.reviews__userdata-link::after {
  content: url("../../img4/vk-blue.png");
  height: 30px;
  margin-left: 10px;
}

.reviews__userdata-link:hover {
  text-decoration: underline;
  color: #2e77a4;
}

.reviews__userdata-tags {
  display: flex;
  align-items: start;
}

.tag {
  font-size: 13px;
  color: #303030;
  background-color: #e7e7e7;
  padding: 9px 17px;
  border-radius: 30px;
}

.tag--style--active {
  background-color: #b9eae4;
}

.reviews__title {
  font-size: 30px;
  margin-bottom: 13px;
  margin-left: 5px;
}

.reviews__text {
  font-size: 16px;
  line-height: 1.7em;
  color: #818181;
  margin-bottom: 47px;
}

.reviews__date {
  font-size: 14px;
  margin-left: 2px;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img4/fog.png");
  background-size: cover;
  min-height: 360px;
  max-width: 1920px;
  color: #fff;
}

.separator__title {
  font-size: 48px;
  max-width: 40%;
}

.separator__pic {
  align-self: flex-end;
}

.bottom-section {
  background-color: #f4f5f5;
  padding-top: 65px;
}

.bottom-section__title {
  margin-bottom: 56px;
  font-size: 48px;
}

.form {
  padding-bottom: 95px;
}

.form__row {
  display: flex;
  margin-bottom: 25px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1a1b1e;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input::placeholder {
  color: #666;
}

.form__input--textarea {
  resize: none;
  padding: 30px;
  height: 235px;
}
.form__controls {
  display: flex;
  margin-bottom: 20px;
}

.form__controls-title {
  font-size: 18px;
  line-height: 2.5em;
  min-width: 38%;
}

.form__controls-list {
  display: flex;
  flex: 1;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-left: -10px;
}

.form__controls-item {
  margin-bottom: 10px;
  margin-left: 10px;
}

.form__controls-elem {
  cursor: pointer;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked ~ .form__tag {
  background-color: #b9eae4;
}

.form__buttons-list {
  display: flex;
  justify-content: flex-end;
}

.form__buttons-item {
  margin-right: 20px;
}

.form__buttons-item:last-child {
  margin-right: 0px;
}

.form__button {
  background: #f5170e;
  border-radius: 35px;
  border-color: transparent;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
}

/* .form__button:hover {
  background: #f5170e;
  color: white;
  transition: background 0.5s, box-shadow 0.5s;
} */

.form__button-grey {
  background: #8e8e8e;
  color: white;
  /* transition: background 0.5s, box-shadow 0.5s; */
}

.form__button-grey:hover {
  background: #2b2b2b;
  transition: background 0.5s, box-shadow 0.5s;
}
