.reviews {
  color: #1a1b1e;
}

.reviews__list {
  /* display: flex; */
  flex-direction: column;
  column-count: 2;
  column-gap: 27px;
  margin-bottom: 50px;
}

.reviews__item {
  display: inline-flex;
  flex-direction: column;
  background-color: #f4f5f5;
  padding: 50px 30px 30px;
  margin-bottom: 22px;
}

.reviews__userdata {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.reviews__photo {
  width: 142px;
  height: 142px;
  border-radius: 50%;
  margin-right: 20px;
}

.reviews__userdata-link {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  /* line-height: 1.3em; */
  font-weight: bold;
  margin-bottom: 5px;
}

.reviews__userdata-link::after {
  content: url("../../img4/vk-blue.png");
  height: 30px;
  margin-left: 10px;
}

.reviews__userdata-link:hover {
  text-decoration: underline;
  color: #2e77a4;
}

.reviews__userdata-tags {
  display: flex;
  align-items: start;
}

.tag {
  font-size: 13px;
  color: #303030;
  background-color: #e7e7e7;
  padding: 9px 17px;
  border-radius: 30px;
}

.tag--style--active {
  background-color: #b9eae4;
}

.reviews__title {
  font-size: 30px;
  margin-bottom: 13px;
  margin-left: 5px;
}

.reviews__text {
  font-size: 16px;
  line-height: 1.7em;
  color: #818181;
  margin-bottom: 47px;
}

.reviews__date {
  font-size: 14px;
  margin-left: 2px;
}
